/* src/components/Header/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e0f2f7;
  border-bottom: 1px solid #ccc;
  color: #333;
  position: relative; 
}

.logo-img {
  height: 50px;
}

/* ------------------- ACCIONES E ÍCONOS ------------------- */
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.user-icon, .mobile-menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  padding: 5px;
}

.user-icon:hover {
  color: #007bff; 
}

/* ------------------- BUSCADOR FIJO ------------------- */
.search-container.fixed-search {
  display: flex;
  align-items: center;
  margin: 0 20px; 
  flex-grow: 1; 
  max-width: 400px; 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; 
}

.search-container input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 1rem;
  flex-grow: 1;
}

.search-icon-fixed {
  background-color: #007bff; 
  color: white;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}


@media (min-width: 769px) {

  .mobile-menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .social-icons,
  .search-container.fixed-search {
    display: none;
  }
  
  /*Icono de hamburguesa */
  .mobile-menu-icon {
    display: block;
  }

  /* Estilos para el menú móvil */
  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 71px; 
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-nav li {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    color: #333;
  }
}